In [42]:
import pandas as pd

In [47]:
# load the CSV with data in one column
file_path = "connect_institution_selected.csv"
df = pd.read_csv(file_path, header=None, names=["raw_data"])

In [48]:
# split the single column into multiple columns
df_split = df['raw_data'].str.split('	', expand=True)

# assign column names
df_split.columns = [
    "EVENT_ID",
    "USER_ID",
    "TIMESTAMP",
    "INSTITUTION_NAME",
    "DATA_PROVIDER",
    "TYPE",
    "SOURCE",
    "CREDENTIAL_ID"
]

# save the fixed data to a new CSV
output_path = "fixed_file_selected.csv"
df_split.to_csv(output_path, index=False)

print(f"File has been fixed and saved to {output_path}")

File has been fixed and saved to fixed_file_selected.csv

In [49]:
df_split.iloc[1:]

,EVENT_ID,USER_ID,TIMESTAMP,INSTITUTION_NAME,DATA_PROVIDER,TYPE,SOURCE,CREDENTIAL_ID
1,411b7c9da7299da777f1a260cbb2f672,23685,2024-08-01 00:00:01,Eagle Rock National Bank,finicity,connect,web,
2,1f55188abf7ac96a3b75190a6a525fc9,31044,2024-08-01 00:01:03,Zephyr Financial,mx,connect,mobile,
3,7071fedfb96db570e778c7376ea1b40d,33777,2024-08-01 00:01:11,Driftwood Financial Services,mx,connect,mobile,
4,d0e6910f89aae3cfef6e8b31e02b9caf,75063,2024-08-01 00:01:26,Zephyr Financial,mx,connect,mobile,
5,e85a4e1b33c767aa18204a0d2a5480fd,31160,2024-08-01 00:01:50,Acorn Financial,mx,connect,mobile,
...,...,...,...,...,...,...,...,...
94229,6fea40b199c0907f0d22251156a6e64d,52471,2024-08-31 23:57:32,Acorn Financial,finicity,connect,web,
94230,90873777e41413ed46415447fe1acda6,868,2024-08-31 23:57:37,Lifestream Bank,mx,connect,mobile,
94231,2576e741e12bb9310a9e898cc6df1096,52471,2024-08-31 23:58:30,Acorn Financial,mx,connect,web,
94232,4fe6b879369e5c6c1090e66f412c6320,64319,2024-08-31 23:59:01,Pathfinder Financial,plaid,connect,web,
94233,b4b6160ea00b854a9dfa981315f3ad12,80148,2024-08-31 23:59:34,Uplands Bank & Trust,mx,connect,web,